.stack > * + * {
  /* オウルセレクタ：最初の要素以外の要素を指定 */
  margin-top: var(--stack-space, 1.5em);
}

.stack h2,
.stack h3 {
  --stack-space: 2em;
}

.stack h2,
.stack h3 {
  --stack-space: 0.8em;
  font-weight: bold;
  margin: 40px 0 16px;
  border-bottom: 1px solid #ddd;
}

.stack p {
  line-height: 1.8;
  letter-spacing: 0.2px;
  margin-top: 1.8px;
}

.stack ul {
  padding-left: 20px;
  list-style: revert;
  list-style-type: disc;
  list-style-position: inside;
}

.stack blockquote {
  position: relative;
  margin-left: 15px;
  padding: 20px 15px 8px 15px;
  box-sizing: border-box;
  font-style: italic;
  background: #efefef;
  color: #555;
}
.stack blockquote:before {
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 3px;
  content: "“";
  font-family: sans-serif;
  color: #cfcfcf;
  font-size: 50px;
  line-height: 1;
}
.stack blockquote p {
  padding: 0;
  margin: 10px 0;
  line-height: 1.7;
}

.stack blockquote cite {
  display: block;
  text-align: right;
  color: #888888;
  font-size: 0.9em;
}
