.gridContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: var(--space-jump);
  margin-top: var(--space-xs);
  margin-bottom: var(--space-lg);
}

.post h2 {
  margin-top: 0.5em;
  font-size: var(--heading2);
  font-weight: 400;
}

.post figure {
  position: relative;
  aspect-ratio: 16/9;
}

.post {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .post h2 {
    font-size: var(--heading3);
  }
  .post {
    margin-bottom: 40px;
  }
}

@media (min-width: 1280px) {
  .gridContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .post h2 {
    font-size: var(--small-heading3);
  }
  .post {
    margin-bottom: 0px;
  }
}
