.post {
  width: 80%;
  margin-right: auto;
  margin-left: auto;

  & > h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 16px;
    border-bottom: 1px solid #ddd;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: 0.2px;
  }

  & > ul {
    list-style-type: disc;
    list-style-position: inside;
  }
}
